@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";


h1, p, span{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


* {
  scrollbar-width: none; /* Hides scrollbar but keeps scroll functionality */
}
div{
 font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

.experience-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.568); /* Stroke thickness & color */

}







#orange-cut{
    position: absolute;
    top: 10%;
    left: 32%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#leaf{
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
    position: absolute;
    width: 18%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#leaf2{
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
    position: absolute;
    width: 12%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#leaf3{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}

#orange{
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 55%;
    right: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}
